@use "../static_var.scss";

.add-button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--primary-color);
    border-radius: 0.5rem;
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    width: 100%;
    gap: 1rem;
    padding: 0 0.1rem 0 0.1rem;

    .add-button-svg {
        width: 2rem;
        padding-top: 0.2rem;
    }
    .add-button-text {
        font-size: 2rem;
    }

    &:hover {
        opacity: 0.5;
    }
}