@use "../static_var.scss";

.edit-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: grid;
    place-items: center;

    .edit-ui-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .edit-input-container {
            width: calc(0.6 * 100vw);
            min-width: 50rem;
            min-height: calc(0.4 * 100vh);
            @media  screen and (max-width: static_var.$smartphone_size) {
                width: calc(0.9 * 100vw);
            }

            border-radius: 1rem;
            box-shadow: 10px 10px 5px rgba(var(--primary-color-rgb), 0.3);
            box-sizing: border-box;
            background-color: var(--primary-bg-color);

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: left;
            color: var(--primary-color);

            padding: 1rem 1rem 1rem 1rem;

            .edit-input-caption {
                font-size: 1.5rem;
                text-align: center;
            }

            .label-container {
                display: flex;
                height: 2rem;
                align-items: center;
                .label-main {
                    font-size: 1rem;
                    text-align: center;
                }
                .label-detail {
                    margin-left: 1rem;
                    font-size: 0.8rem;
                }
            }

            .edit-input-bottom {
                display: flex;
                gap: 1rem;
                justify-content: center;

                button {
                    font-size: 1rem;
                    padding: 0 1rem 0 1rem;
                }
            }
        }

        .edit-preview-container {
            min-width: 50rem;
            width: calc(0.6 * 100vw);
            min-height: calc(0.4 * 100vh);
            @media  screen and (max-width: static_var.$smartphone_size) {
                width: calc(0.9 * 100vw);
            }

            border-radius: 1rem;
            box-shadow: 10px 10px 5px rgba(var(--primary-color-rgb), 0.3);
            box-sizing: border-box;
            background-color: var(--primary-bg-color);

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: left;
            color: var(--primary-color);

            padding: 1rem 1rem 1rem 1rem;

            .edit-preview-caption {
                font-size: 1.5rem;
                text-align: center;
            }

            .edit-preview-bottom {
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    font-size: 1rem;
                    padding: 0 1rem 0 1rem;
                }
            }
        } 


    }
}