.video-page-menu {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    
    .sort-select-container {
        border-radius: 0.3rem;
        border-style: solid;
        border-width: 2px;
        border-color: var(--primary-color);

        select {
            height: 3rem;
            font-size: 2rem;
            padding: 0 1rem 0 1rem;
            background-color: transparent;
            color: var(--primary-color);

            option {
                background-color: var(--primary-bg-color);
                border-style: solid;
                border-width: 4px;
            } 
        }
    }

    .add-button {
        margin-left: 1.5rem;
    }
    
}