#header-container {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    // 変数
    $title_logo_max_ml: 32px; // title-logoのmargin-left
    $title_logo_max_w: 25rem; // title-logoのwidth
    $smartphone-size: 1000px; // ここで仮定するスマートフォンのサイズ
    $header_menu_item_w : 8rem; // header-menu-itemのwidth
    $header_menu_item_num: 2; // header-menu-itemの数

    // header-menuが存在する最小画面サイズ
    $header_menu_min_screen: calc($title_logo_max_ml + $title_logo_max_w + $header_menu_item_num * $header_menu_item_w);


    #header-left {
        margin-left: $title_logo_max_ml;
        max-width: $title_logo_max_w;
        width: 50%;

        @media screen and (max-width: $smartphone-size) {
            & {
                max-width: 500px;
            }
        }

        #title-logo {
            color: var(--primary-color);
            display: flex;
            flex-direction: row;
            align-items: center;

            #bottle-svg {
                width: 8rem;
            }

            #double-heart-svg {
                width: 0rem;
                transition: width 0.5s;
            }

            #moon-svg {
                width: 10rem;
            }

            #logo-text-svg {
                width: 20rem;

                svg {
                    -webkit-filter: drop-shadow(0.2rem 0.2rem 0.4rem var(--primary-color));
                    filter: drop-shadow(0.2rem 0.2rem 0.4rem var(--primary-color));
                }
            }

            &:hover {
                #double-heart-svg {
                    width: 4rem;
                }
            }
        }

    }

    #header-right {
        margin-right: 32px;
        width: 20%;
        max-width: 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        @media screen and (max-width: $smartphone-size) {
            & {
                max-width: 160px;
            }
        }

        #mode-change-button {
            width: 100%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            @media screen and (max-width: $header_menu_min_screen),
            (max-width: $smartphone-size) {
                & {
                    margin-right: 1rem;
                    width: 50%;
                }
            }

            #mode-change-cover {
                position: relative;
                width: 100%;
                aspect-ratio: 1;
                z-index: 2;
                border-radius: 50%;
                background-color: rgba(var(--primary-color-rgb), 0.2);

                #mode-change-svg {
                    position: absolute;
                    top: 15%;
                    left: 15%;
                    width: 70%;
                    opacity: 1;
                }

                &:hover {
                    background-color: rgba(var(--primary-color-rgb), 0.1);

                    #mode-change-svg {
                        opacity: 0.8;
                    }
                }
            }

        }

        .hamburger-menu-button {
            display: none;
            width: 35%;
            color: var(--primary-color);

            @media screen and (max-width: $header_menu_min_screen),
            (max-width: $smartphone-size) {
                & {
                    display: block;
                }
            }
        }


    }

    #header-menu {
        position: absolute;
        display: flex;
        flex-direction: row;
        bottom: 0;
        left: calc($title_logo_max_ml + $title_logo_max_w);
        width: calc($header_menu_item_num * $header_menu_item_w);
        padding-bottom: 0.5rem;

        .header-menu-item {
            cursor: pointer;
            width: $header_menu_item_w;
            color: var(--primary-color);

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:hover {
                opacity: 0.5;
            }
        }

        @media screen and (max-width: $header_menu_min_screen),
        (max-width: $smartphone-size) {
            & {
                display: none;
            }
        }

    }

    #top-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background: linear-gradient(to right, #21ff6c, #ff4984);
    }

    #hidden-menu-container {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        width: 30rem;
        height: 100vh;
        background-color: var(--primary-bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;

        #hidden-menu-background {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh;

            &.hidden-menu-background-dark {
                background-image: url("hexagon-pattern-white.svg");
                opacity: 0.05;
            }

            &.hidden-menu-background-light {
                background-image: url("hexagon-pattern-black.svg");
                opacity: 0.05;
            }


        }

        .hidden-menu-item {
            width: 80%;
            font-size: 2rem;
            height: 5rem;
            color: var(--primary-color);
            z-index: 3;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    #hidden-menu-overlay {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
        opacity: 0.3;
    }

    #hidden-menu-hamburger-button {
        position: absolute;
        z-index: 3;
        top: 32px;
        right: 32px;
        // width: 20%;
        min-width: 3rem;
        color: var(--primary-color);
    }
}