@use "./static_var.scss";

#header-container {
    width: 100%;
    position: relative;
    height: var(--header-height);

    // 変数
    $title_logo_max_ml: 32px; // title-logoのmargin-left
    $title_logo_max_w: 25rem; // title-logoのwidth
    $header_menu_item_w : 10rem; // header-menu-itemのwidth
    $header_menu_item_num: 5; // header-menu-itemの数

    // header-menuが存在する最小画面サイズ
    $header_menu_min_screen: calc($title_logo_max_ml + $title_logo_max_w + $header_menu_item_num * $header_menu_item_w);

    #header-static-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #header-left {
            margin-left: $title_logo_max_ml;
            max-width: $title_logo_max_w;
            width: 50%;
    
            @media screen and (max-width: static_var.$smartphone_size) {
                & {
                    margin-left: 1rem;
                }
            }
    
            svg {
                -webkit-filter: drop-shadow(0.15rem 0.15rem 0.3rem var(--primary-color));
                        filter: drop-shadow(0.15rem 0.15rem 0.3rem var(--primary-color));
            }
    
            #title-logo {
                color: var(--primary-color);
                display: flex;
                flex-direction: row;
                align-items: center;
    
                #bottle-svg {
                    width: 8rem;
                }
    
                #double-heart-svg {
                    width: 0rem;
                    transition: width 0.5s;
                }
    
                &.active {
                    &:hover {
                        #double-heart-svg {
                            width: 4rem;
                        }
                    }
                }
    
                #moon-svg {
                    width: 10rem;
                }
    
                #logo-text-svg {
                    width: 20rem;
                    color: var(--primary-color);
                    text-decoration: none;
                    
                    -webkit-user-select: none;
                       -moz-user-select: none;
                        -ms-user-select: none;
                            user-select: none;
    
                    svg {
                        -webkit-filter: drop-shadow(0.2rem 0.2rem 0.4rem var(--primary-color));
                        filter: drop-shadow(0.2rem 0.2rem 0.4rem var(--primary-color));
                    }
                }
            }
        }
    
        #header-right {
            margin-right: 32px;
            width: 4rem;
            display: flex;
            flex-direction: row;
            align-items: center;
    
            @media screen and (max-width: $header_menu_min_screen),
            (max-width: static_var.$smartphone_size) {
                & {
                    width: 6rem;
                    margin-right: 1rem;
                }
            }
    
            #mode-change-button {
                width: 100%;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
    
                @media screen and (max-width: $header_menu_min_screen),
                (max-width: static_var.$smartphone_size) {
                    & {
                        margin-right: 1rem;
                        width: 50%;
                    }
                }
    
                #mode-change-cover {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 1;
                    z-index: 2;
                    border-radius: 50%;
                    background-color: rgba(var(--primary-color-rgb), 0.2);
    
                    #mode-change-svg {
                        position: absolute;
                        top: 15%;
                        left: 15%;
                        width: 70%;
                        opacity: 1;
                    }
    
                    &:hover {
                        background-color: rgba(var(--primary-color-rgb), 0.1);
    
                        #mode-change-svg {
                            opacity: 0.8;
                        }
                    }
                }
    
            }
    
            .hamburger-menu-button {
                display: none;
                color: var(--primary-color);
    
                @media screen and (max-width: $header_menu_min_screen),
                (max-width: static_var.$smartphone_size) {
                    & {
                        display: block;
                        width: 50%;
                    }
                }
            }
    
    
        }
    
    }

    #header-menu {
        position: absolute;
        display: flex;
        flex-direction: row;
        bottom: 0;
        left: calc($title_logo_max_ml + $title_logo_max_w);
        width: calc($header_menu_item_num * $header_menu_item_w);
        padding-bottom: 0.5rem;
        

        .header-menu-item {
            font-size: 1.5rem;
            cursor: pointer;
            width: $header_menu_item_w;
            color: var(--primary-color);
            display: flex;
            justify-content: center;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            a {
                color: var(--primary-color);
                text-decoration: none;

            }

            &:hover {
                opacity: 0.5;
            }
        }

        @media screen and (max-width: $header_menu_min_screen),
        (max-width: static_var.$smartphone_size) {
            & {
                display: none;
            }
        }

    }

    #top-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background: linear-gradient(to right, #21ff6c, #ff4984);
    }

    #hidden-menu {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        width: 50%;

        height: 100vh;
        background-color: var(--primary-bg-color);
        color: var(--primary-color);
        padding-top: var(--header-height);

        @media screen and (max-width: static_var.$smartphone_size) {
            & {
                width: 70%;
            }
        }

        #hidden-menu-background {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;

            &.hidden-menu-background-dark {
                background-image: url("public/hexagon-pattern-white.svg");
                opacity: 0.05;
            }

            &.hidden-menu-background-light {
                background-image: url("public/hexagon-pattern-black.svg");
                opacity: 0.05;
            }


        }

        #hidden-menu-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 3;

            .hidden-menu-item {
                width: 80%;
                z-index: 4;
                font-size: 2rem;
                height: 5rem;

                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                a {
                    color: var(--primary-color);
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        #hidden-menu-footer {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
        }


    }

    #hidden-menu-hamburger-button {
        position: absolute;
        z-index: 3;
        top: 32px;
        right: 32px;
        min-width: 3rem;
        color: var(--primary-color);
    }
}