@use "./background.scss";
@use "./header.scss";
@use "./footer.scss";
@use "./utils.scss";
@use "./routes/routes.scss";
@use "./components/components.scss";

* {
    margin: 0;
    padding: 0;
}

:root {
    // dark
    --dark-primary-color: #fffbeb;
    --dark-primary-color-rgb: 255, 251, 235;
    --dark-primary-bg-color: #2d002c;
    --dark-primary-bg-color-rgb: 45, 0, 44;

    // light
    --light-primary-color: #2d002c;
    --light-primary-color-rgb: 45, 0, 44;
    --light-primary-bg-color: #fffbeb;
    --light-primary-bg-color-rgb: 255, 251, 235;

    // var
    --primary-color: var(--light-primary-color);
    --primary-color-rgb: var(--light-primary-color-rgb);
    --primary-bg-color: var(--light-primary-bg-color);
    --primary-bg-color-rgb: var(--light-primary-bg-color-rgb);
}

body {
    background-color: var(--primary-bg-color);
}