@use "./header.scss";
@use "./background.scss";
@use "./contents.scss";

* {
    margin: 0;
    padding: 0;
}

:root {
    // dark
    --dark-primary-color: #fffbeb;
    --dark-primary-bg-color: black;

    // light
    --light-primary-color: #2d002c;
    --light-primary-bg-color: orange;

    // var
    --primary-color: var(--light-primary-color);
    --primary-bg-color: var(--light-primary-bg-color);
}