@use "../static_var.scss";

#episodes-container {
    width: 90%;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: left;

    @media screen and (max-width: static_var.$smartphone_size) {
        & {
            width: 100%;
        }
    }

    #episodes-title-container {
        display: flex;
        #episodes-title {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: var(--primary-color);

            @media screen and (max-width: static_var.$smartphone_size) {
                & {
                    font-size: 4rem;
                    padding-left: 1.5rem;
                }
            }
        }
    }

    #episodes-caption {
        font-size: 1.5rem;
        color: var(--primary-color);
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        @media screen and (max-width: static_var.$smartphone_size) {
            & {
                font-size: 2rem;
                line-height: 3.5rem;
            }
        }
    }

    .episodes-add-button {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: grid;
        place-items: center;
    }

    .edit-container {
        .edit-episode-input-date {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }

        .edit-episode-input-content {
            width: 100%;
            min-height: 8rem;
            font-size: 1.2rem;
            line-height: 1.5rem; 
            resize: none;
        }
        
        ul {
            padding-left: 1rem;
            .preview-date {
                font-size: 1.5rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
            .preview-content {
                font-size: 1.2rem;

                a {
                    color: static_var.$link_color;
                    text-decoration: none;
        
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}