@use "../static_var.scss";

#episodes-container {
    width: 90%;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #episode-title-container {
        display: flex;
        width: 100%;
        #episode-title {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: var(--primary-color);
        }
    }

    #episodes-add-button {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    
    .edit-episode-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        display: grid;
        place-items: center;

            .edit-episode-ui-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
    
                .edit-episode-input-container {
                    min-width: 50rem;
                    width: calc(0.6 * 100vw);
                    min-height: 20rem;
                    height: calc(0.3 * 100vh);
                    @media  screen and (max-width: static_var.$smartphone_size) {
                        width: calc(0.9 * 100vw);
                    }

                    border-radius: 1rem;
                    box-shadow: 10px 10px 5px rgba(var(--primary-color-rgb), 0.3);
                    box-sizing: border-box;
                    background-color: var(--primary-bg-color);

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: left;
                    color: var(--primary-color);

                    padding: 1rem 1rem 1rem 1rem;

                    .edit-episode-input-caption {
                        font-size: 1.5rem;
                        text-align: center;
                    }

                    .label-container {
                        display: flex;
                        height: 2rem;
                        align-items: center;
                        .label-main {
                            font-size: 1rem;
                            text-align: center;
                        }
                        .label-detail {
                            margin-left: 1rem;
                            font-size: 0.8rem;
                        }
                    }


                    .edit-episode-input-content {
                        width: 100%;
                        min-height: 8rem;
                        font-size: 1rem; 
                        resize: none;
                    }
        
                    .edit-episode-input-bottom {
                        display: flex;
                        gap: 1rem;
                        justify-content: center;

                        button {
                            font-size: 1rem;
                            padding: 0 1rem 0 1rem;
                        }
                    }
                }

                .edit-episode-preview-container {
                    min-width: 50rem;
                    width: calc(0.6 * 100vw);
                    min-height: 15rem;
                    height: calc(0.3 * 100vh);
                    @media  screen and (max-width: static_var.$smartphone_size) {
                        width: calc(0.9 * 100vw);
                    }

                    border-radius: 1rem;
                    box-shadow: 10px 10px 5px rgba(var(--primary-color-rgb), 0.3);
                    box-sizing: border-box;
                    background-color: var(--primary-bg-color);

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: left;
                    color: var(--primary-color);

                    padding: 1rem 1rem 1rem 1rem;
                    
                    .edit-episode-preview-caption {
                        font-size: 1.5rem;
                        text-align: center;
                    }

                    ul {
                        margin-left: 1rem;
                        .preview-date {
                            margin-left: 0.5rem;
                            margin-right: 0.5rem;
                        }

                        a {
                            color: static_var.$link_color;
                            text-decoration: none;
                
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }



                    .failed-preview-content {
                        color: static_var.$caution_color;
                        font-size: 1.2rem;
                    }

                    .edit-episode-preview-bottom {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        button {
                            font-size: 1rem;
                            padding: 0 1rem 0 1rem;
                        }
                    }
                }
        }
    }

}