@use "../static_var.scss";

.videos-container {
    width: 90%;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: left;

    @media screen and (max-width: static_var.$smartphone_size) {
        & {
            width: 100%;
        }
    }

    .videos-title-container {
        display: flex;

        .videos-title {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: var(--primary-color);   

            @media screen and (max-width: static_var.$smartphone_size) {
                & {
                    font-size: 4rem;
                    padding-left: 1.5rem;
                }
            }
        }
    }

    .videos-caption {
        font-size: 1.5rem;
        color: var(--primary-color);
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        @media screen and (max-width: static_var.$smartphone_size) {
            & {
                font-size: 2rem;
                line-height: 3.5rem;
            }
        }
    }

    #intersection-bottom {
        width: 100%;
    }

    #videos-loading-container {
        width: 100%;
        height: 4rem;
        display: grid;
        place-items: center;
        #videos-loading-spinner {
            width: 2rem;
        }
    }

    .edit-container {
        .edit-video-title {
            font-size: 1.2rem;
            line-height: 1.5rem;
            width: 100%;
            resize: none;
            height: 3rem;
        }
        .edit-video-url {
            font-size: 1.1rem;
            line-height: 2rem;
            width: 100%;
        }
        .edit-video-date {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
        .edit-video-author {
            font-size: 1.2rem;
            line-height: 1.5rem;
            width: 100%;
        }
    }
}